{% extends "layout.html" %}
{% block content %}
<div id="content">
    <a href="/form/add">Add new book</a>
    {% for book in books %}
    <div class="book">
        <a href="{{ url_for('book_details', book_id=book._id['$oid']) }}"> <img src="{{ book.image }}"
                                                                                alt="cover of the book">
            <div>Title: {{ book.title }}</div>
            <div>Author: {{book.author}}</div>
        </a>

    </div>
    {% endfor %}
</div>
{% endblock %}